.alignRight {
  text-align: right;
}

footer {
  p {
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 4px;
  }

  a {
    color          : var(--black);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  button {
    padding: 0 8px;
    cursor : pointer;
  }
}
