keyboard {
    display       : grid;
    column-gap    : var(--gapSize);
    row-gap       : var(--gapSize);
    grid-auto-rows: 1fr;
    margin-bottom : 24px;
    width         : 100%;

    &.board--8keys {
        --gapSize: 6px;
        --keySize: calc(~"(100% - (5 * var(--gapSize))) / 6");
        grid-template-areas:
            "shift  numeric symbols brackets backspace next"
            "comma  dynamic dynamic dynamic  dynamic   enter"
            "period dynamic dynamic dynamic  dynamic   space";
        grid-template-columns: repeat(6, minmax(0, var(--keySize)));
    }

    &.board--9keys {
        --gapSize: 8px;
        --keySize: calc(~"(100% - (4 * var(--gapSize))) / 5");
        grid-template-areas:
            "numeric symbols brackets punctuation next"
            "shift   dynamic dynamic  dynamic     backspace"
            "comma   dynamic dynamic  dynamic     enter"
            "period  dynamic dynamic  dynamic     space";
        grid-template-columns: repeat(5, minmax(0, var(--keySize)));
    }
}

.key {
    display         : flex;
    aspect-ratio    : 1;
    justify-content : center;
    align-items     : center;
    color           : var(--black);
    font-family     : "Source Code Pro";
    font-size       : clamp(1.3333rem, ~"-0.6668rem + 10.6672vw", 2rem); // 1.3em - 2em
    font-weight     : 400;
    line-height     : 1;
    text-transform  : uppercase;
    text-shadow     : 0px 1px 1px #ccc;
    background-color: #fff;
    border-radius   : 7px;
    box-shadow      : 0 2px 3px var(--black);
    overflow        : hidden;
    cursor          : pointer;

    &.active {
        background: var(--highlightColor);
    }

    &.small {
        // font-size: clamp(1.2rem, ~"-0.6rem + 9.6vw", 1.8rem);
        font-size: clamp(1rem, ~"-0.2rem + 6.4vw", 1.4rem);
    }

    &.highlight {
        background: var(--highlightColor);
    }

    &.hide {
        display: none;
    }

    .board--8keys & {
        &.zero {
            grid-area: comma;
        }

        &.five {
            grid-area: period;
        }

        &.plus {
            grid-area: enter;
        }

        &.minus {
            grid-area: space;
        }

        &.asterisk {
            grid-area: symbols;
        }

        &.slash {
            grid-area: brackets;
        }

        &.tilde {
            grid-area: space;
        }

        &.parenthesis--open {
            grid-area: comma;
        }

        &.curlyBraces--open {
            grid-area: period;
        }

        &.pipe {
            grid-area: space;
        }

        &.punctuation {
            display: none;
        }
    }

    .board--9keys & {
        &.zero {
            grid-area: shift;
        }

        &.plus {
            grid-area: symbols;
        }

        &.minus {
            grid-area: brackets;
        }

        &.asterisk {
            grid-area: punctuation;
        }

        &.slash {
            grid-area: space;
        }

        &.parenthesis--open {
            grid-area: shift;
        }

        &.curlyBraces--open {
            grid-area: comma;
        }
    }

    .numeric {
        &.board--9keys &.shift {
            display: none;
        }

        &.board--9keys & {

            .comma,
            .period {
                display: none;
            }
        }

    }

}
