body {
    --black: #1e1e1e;
    background-color: var(--black);
}

* {
    border     : 0;
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: "Source Code Pro", "Courier New", Courier, monospace;
    font-style : normal;
    font-weight: 400;
    font-size  : 15px;
    line-height: 25px;
}

wrapper {
    display         : block;
    width           : 484px;
    margin          : 12px auto;
    position        : relative;
    z-index         : 100;
    padding         : 42px;
    background-image: linear-gradient(#e2e2e2 0%, #898989 100%);
    border-radius   : 15px;
    box-shadow      : 0 3px 4px --black;
}
